::selection{
color: #f79e02;
}
.navbar-color{
	background-color: #1F2833 !important;
}
.label-color{
	color: #5D5E5E !important;
	font-weight: bold;
}
.navbar-brand{
	color: #C5C6C7 !important;
}
.fa-check{
	font-size: 50px !important;
	font-weight: bold;
}
.navbar-brand{
	font-size: 50px !important;
	font-weight: bold;	
}
.container{
	background-color: #1F2833 !important;
	border-radius: 20px;
	color: #C5C6C7 !important;
	width: 70vw;
}
body{
	background-color: skyblue;
}
.table-color{
	background-color: #45A29E;
	border: 2px solid #1F2833;
	border-radius: 15px !important;
}
a:hover{
	font-size: 52px !important;
}
.heading-top{
	font-size: 50px !important;
	font-family: sans-serif;
}
.form-label{
	font-size: 25px !important;
	color: white !important;
}
.form-control{
	background-color:  #CDEFFC;
}
.btn-primary{
	background-color: #f79e02 !important;
	border: 2px solid #1F2833 !important;
	color: #1F2833;
	font-weight: bold;
}